# History files
.Rhistory
# Example code in package build process
*-Ex.R
# R data files from past sessions
*.Rdata
.RData
*.rda
*.Rproj
# RStudio files
.Rproj.user
core
*subgrp*.R
*tmp.R
*SampleCharateristics*.R
*basicanalyses.R
*dany.R
#login
*login*
aprh_interactionterms.R
*.csv
